<div class="w3-padding w3-round-large w3-card-2 card">
    <div class="navbar">
        <div class="w3-left">
            <h4><span class="fa fa-user"></span> Profil</h4>
        </div>
        <div class="w3-right">
            <button (click)="modal = true" class="w3-btn w3-text-white w3-circle bg-gradient-primary"><span
                    class="fa fa-pencil"></span></button>
        </div>
    </div>
    <h4>Username: {{username}}</h4>
    <h4>Project finished: </h4>
    
</div>

<!-- box -->
<div class="modal-box modal-sm w3-animate-opacity" style="z-index: 99999;" *ngIf="modal || !User && getdata == false">
    <div class="modal-contents w3-container w3-padding-24">
        <div class="navbar">
            <div class="w3-right">
                <button *ngIf="User" class="w3-btn w3-text-white bg-gradient-danger w3-round-large" type="button"
                    (click)="modal = false"><span class="fa fa-remove"></span></button>
            </div>
        </div>
        <form>
            <div class="form-group">
                <label for="">Username</label>
                <input type="text" [(ngModel)]="username" required
                    [class.w3-border-red]="UsernameD.touched && UsernameD.invalid" #UsernameD="ngModel"
                    class="w3-round-large w3-input w3-padding" id="UsernameD" name="UsernameD" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="">Password</label>
                <input type="text" id="PassD" [(ngModel)]="password" name="PassD"
                    class="w3-round-large w3-input w3-padding" placeholder="Password"
                    [class.w3-border-red]="PassD.touched && PassD.invalid" required #PassD="ngModel">
            </div>
            <!-- <div class="form-group"></div> -->
            <div class="w3-center">
                <button class="w3-btn w3-round-large w3-text-white bg-gradient-danger" type="submit"
                    (click)="Save()">Submit</button>
            </div>
        </form>
    </div>
</div>